<div id="footer">
    	<div  class="row">
          <div class="col-md-4">
          	<div class="contenido">
            	<h1>Contactanos</h1>
                    <table class="tabla">
                        <tr>
                            <td>Telefono:</td>
                            <td>12345678</td>
                        </tr>
                         <tr>
                            <td>Email:</td>
                            <td>algo@hotmail.com</td>
                        </tr>
                         <tr>
                            <td>Skype:</td>
                            <td>Sassadasd</td>
                        </tr>
                    </table>
            </div>
          </div>
          <div class="col-md-4">
          	<div class="contenido">
            	<h1>Nuestro sitio web</h1>
                 <table>
                        <tr>
                            <td><a href="">Facebook</a></td>
                        </tr>
                         <tr>
                            <td><a href="">Instagram</a></td>                            
                        </tr>
                         <tr>
                            <td><a href="">Twitter</a></td> 
                         </tr>     
                    </table>
            </div>
          </div>
         <div class="col-md-4">
          	<div class="contenido">
            	<h1>Siguenos</h1>
                	<table>
                        <tr>
                            <td><a href="">Registro</a></td>
                        </tr>
                         <tr>
                            <td><a href="">Servicios</a></td>                            
                        </tr>
                         <tr>
                            <td><a href="">Area de clientes</a></td> 
                         </tr>        
                    </table>
            </div>
          </div>
        </div>
    </div>
