<div id="slider">
      <div class="row">
          <div class="col-md-6">
            <div class="formulario">
                <form class="formulario-contacto">
				 <div class='animatedParent' >	
					<h1 class='animated growIn delay-50'>Bellas Artes</h1>
				</div>
                 <table class="tabla1">
				  
                    <tr class='animatedParent'>
                      <td><h3 class='animated fadeInUp delay-150'>- Conoce las mejoras obras</h3></td>
                    </tr>
                    <tr class='animatedParent'>
                      <td><h3 class='animated fadeInUp delay-250'>- Conoce los mejores artistas</h3></td>
                    </tr>
                    </table>
					
                </form>
				
            </div>
          </div>
          <div class="col-md-6">
          	<div class="imagen">
				<div class='animatedParent' >
					<img class='animated lightSpeedInRight delay-1050' src="/Content/Home/img/boneco-oficial.png" width="500" height="299" alt=""/> </div>
				</div>
          </div>
		</div>
    </div><!--  FIN SLIDER -->
