@{
    ViewBag.Title = "Inicio";
}
    <!-- slider -->
    @Html.Partial("_partials/_slider")
<div id="Nosotros">
    <div id="caracteristicas">
      <div align="center" class="row">
          <div class="col-md-4">
              <div class="animacion">
              
              	 <img src="/Content/Home/img/animacion.gif" width="300" height="300" alt=""/> </div> 
              </div>
          <div class="col-md-8">
          	<div id="Quienes-Somos" class='animatedParent' data-sequence='200'>
				
				<h1 style="overflow:hidden" class='animated fadeInRightShort' data-id='1' align="left">Quienes Somos?</h1>
                <br />
                <p style="overflow:hidden" class='animated fadeInRightShort' data-id='2' align="left">El Museo Nacional de Bellas Artes (MNBA) es uno de los principales centros de difusión de artes visuales en Chile. Fundado el 18 de septiembre de 1880, bajo el nombre Museo Nacional de Pinturas, es el primero de arte en Latinoamérica.3 Desde 1910 ha ocupado un edificio ubicado en el Parque Forestal, en la comuna y ciudad de Santiago. El Palacio de Bellas Artes, obra del arquitecto chileno Emile Jéquier y construido en conmemoración del centenario del país, fue declarado Monumento Histórico en 1976</p>
                
            </div>
          </div>
   	  </div>
     </div>
    </div>
    @*<div id="slogan1" class='animatedParent' data-sequence='100'>
        <h1 class='animated fadeInLeft' data-id='1' align="center">Crea tu propia página web profesional y elegante con Nombre Empreza</h1>
        <p class='animated fadeInLeft' data-id='2' align="center">Sitio web responsive, incluye hosting y dominio.cl</p>
    </div>*@
   @* <div id="acerca" class='animatedParent' data-sequence='150'>
    	<div align="center" class="row">
          <div class="col-md-3">
            <div class="circulo animated fadeInLeftShort" data-id='1' >
           		 <i class="fa fa-tablet" aria-hidden="true"></i>
            </div>
            <h3 class='animated fadeInLeftShort' data-id='1'>Diseño web responsive</h3>
            <p  class='animated fadeInLeftShort' data-id='2'>Sitios web que se adaptan a todos los dispositivos sin perder su elegancia.</p>
          </div>
          <div class="col-md-3">
             <div class="circulo animated fadeInLeftShort" data-id='2' >
            	<i class="fa fa-shopping-cart"  aria-hidden="true"></i>
            </div>
            <h3  class='animated fadeInLeftShort' data-id='3'>Tiendas Online</h3>
            <p  class='animated fadeInLeftShort' data-id='4'>Implementacion de E-Commerce, carro de compras, catalogo de productos.</p>
          </div>
          <div class="col-md-3">
            <div class="circulo animated fadeInRightShort" data-id='3' >
            	<i class="fa fa-cube" aria-hidden="true"></i>
            </div>
            <h3  class='animated fadeInRightShort' data-id='5'>Sitios web dinamicos</h3>
            <p  class='animated fadeInRightShort' data-id='6'>Sitios web hechos a la medida del cliente segun sus necesidades.</p>
          </div>
          <div class="col-md-3">
             <div class="circulo animated fadeInRightShort" data-id='4' >
          		  <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
            </div>
            <h3  class='animated fadeInRightShort' data-id='7'>Sitios web administrable</h3>
            <p  class='animated fadeInRightShort' data-id='8'>Ahora tu puedes administrar la informacion que deseas mostrar en tu sitio web.</p>
          </div>
        </div>
    </div>*@
